Building Messagaging  webservice/ConsoleApplication1/ConsoleApplication1/Service References/ServiceReference2/User.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="all_x0020_user">
        <s:complexType />
      </s:element>
      <s:element name="all_x0020_userResponse">
        <s:complexType />
      </s:element>
      <s:element name="return_x0020_by_x0020_username_x0020_and_x0020_password">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="return_x0020_by_x0020_username_x0020_and_x0020_passwordResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="all_x0020_userSoapIn">
    <wsdl:part name="parameters" element="tns:all_x0020_user" />
  </wsdl:message>
  <wsdl:message name="all_x0020_userSoapOut">
    <wsdl:part name="parameters" element="tns:all_x0020_userResponse" />
  </wsdl:message>
  <wsdl:message name="return_x0020_by_x0020_username_x0020_and_x0020_passwordSoapIn">
    <wsdl:part name="parameters" element="tns:return_x0020_by_x0020_username_x0020_and_x0020_password" />
  </wsdl:message>
  <wsdl:message name="return_x0020_by_x0020_username_x0020_and_x0020_passwordSoapOut">
    <wsdl:part name="parameters" element="tns:return_x0020_by_x0020_username_x0020_and_x0020_passwordResponse" />
  </wsdl:message>
  <wsdl:message name="all_x0020_userHttpGetIn" />
  <wsdl:message name="all_x0020_userHttpGetOut" />
  <wsdl:message name="return_x0020_by_x0020_username_x0020_and_x0020_passwordHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="return_x0020_by_x0020_username_x0020_and_x0020_passwordHttpGetOut" />
  <wsdl:message name="all_x0020_userHttpPostIn" />
  <wsdl:message name="all_x0020_userHttpPostOut" />
  <wsdl:message name="return_x0020_by_x0020_username_x0020_and_x0020_passwordHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="return_x0020_by_x0020_username_x0020_and_x0020_passwordHttpPostOut" />
  <wsdl:portType name="UserSoap">
    <wsdl:operation name="ReturnUser">
      <wsdl:input name="all_x0020_user" message="tns:all_x0020_userSoapIn" />
      <wsdl:output name="all_x0020_user" message="tns:all_x0020_userSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnUser">
      <wsdl:input name="return_x0020_by_x0020_username_x0020_and_x0020_password" message="tns:return_x0020_by_x0020_username_x0020_and_x0020_passwordSoapIn" />
      <wsdl:output name="return_x0020_by_x0020_username_x0020_and_x0020_password" message="tns:return_x0020_by_x0020_username_x0020_and_x0020_passwordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UserHttpGet">
    <wsdl:operation name="ReturnUser">
      <wsdl:input name="all_x0020_user" message="tns:all_x0020_userHttpGetIn" />
      <wsdl:output name="all_x0020_user" message="tns:all_x0020_userHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnUser">
      <wsdl:input name="return_x0020_by_x0020_username_x0020_and_x0020_password" message="tns:return_x0020_by_x0020_username_x0020_and_x0020_passwordHttpGetIn" />
      <wsdl:output name="return_x0020_by_x0020_username_x0020_and_x0020_password" message="tns:return_x0020_by_x0020_username_x0020_and_x0020_passwordHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UserHttpPost">
    <wsdl:operation name="ReturnUser">
      <wsdl:input name="all_x0020_user" message="tns:all_x0020_userHttpPostIn" />
      <wsdl:output name="all_x0020_user" message="tns:all_x0020_userHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnUser">
      <wsdl:input name="return_x0020_by_x0020_username_x0020_and_x0020_password" message="tns:return_x0020_by_x0020_username_x0020_and_x0020_passwordHttpPostIn" />
      <wsdl:output name="return_x0020_by_x0020_username_x0020_and_x0020_password" message="tns:return_x0020_by_x0020_username_x0020_and_x0020_passwordHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserSoap" type="tns:UserSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReturnUser">
      <soap:operation soapAction="http://tempuri.org/all user" style="document" />
      <wsdl:input name="all_x0020_user">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="all_x0020_user">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnUser">
      <soap:operation soapAction="http://tempuri.org/return by username and password" style="document" />
      <wsdl:input name="return_x0020_by_x0020_username_x0020_and_x0020_password">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="return_x0020_by_x0020_username_x0020_and_x0020_password">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserSoap12" type="tns:UserSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReturnUser">
      <soap12:operation soapAction="http://tempuri.org/all user" style="document" />
      <wsdl:input name="all_x0020_user">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="all_x0020_user">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnUser">
      <soap12:operation soapAction="http://tempuri.org/return by username and password" style="document" />
      <wsdl:input name="return_x0020_by_x0020_username_x0020_and_x0020_password">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="return_x0020_by_x0020_username_x0020_and_x0020_password">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserHttpGet" type="tns:UserHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ReturnUser">
      <http:operation location="/all user" />
      <wsdl:input name="all_x0020_user">
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output name="all_x0020_user" />
    </wsdl:operation>
    <wsdl:operation name="ReturnUser">
      <http:operation location="/return by username and password" />
      <wsdl:input name="return_x0020_by_x0020_username_x0020_and_x0020_password">
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output name="return_x0020_by_x0020_username_x0020_and_x0020_password" />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserHttpPost" type="tns:UserHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ReturnUser">
      <http:operation location="/all user" />
      <wsdl:input name="all_x0020_user">
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output name="all_x0020_user" />
    </wsdl:operation>
    <wsdl:operation name="ReturnUser">
      <http:operation location="/return by username and password" />
      <wsdl:input name="return_x0020_by_x0020_username_x0020_and_x0020_password">
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output name="return_x0020_by_x0020_username_x0020_and_x0020_password" />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="User">
    <wsdl:port name="UserSoap" binding="tns:UserSoap">
      <soap:address location="http://gashaw.somee.com/UserWebService/User.asmx" />
    </wsdl:port>
    <wsdl:port name="UserSoap12" binding="tns:UserSoap12">
      <soap12:address location="http://gashaw.somee.com/UserWebService/User.asmx" />
    </wsdl:port>
    <wsdl:port name="UserHttpGet" binding="tns:UserHttpGet">
      <http:address location="http://gashaw.somee.com/UserWebService/User.asmx" />
    </wsdl:port>
    <wsdl:port name="UserHttpPost" binding="tns:UserHttpPost">
      <http:address location="http://gashaw.somee.com/UserWebService/User.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>